# Python
__pycache__/
*.py[cod]

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
static/

# Local settings
local_settings.py

# Virtual environments
.venv/
venv/

# Operating system files
.DS_Store
Thumbs.db

# environment variables
.env
.env.*